<h2>Update Your Profile</h2>
<hr />

<%= form_with model: @user, local: true do |f| %>
  <%= render 'devise/shared/error_messages', resource: @user %>
  <div class="form-group">
    <%= f.label :name, 'Display name' %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :avatar, class: 'mb-0' %>
    <%= avatar_tag @user, size: 100, class: 'd-block my-2' %> 
    <%= f.file_field :avatar, class: 'form-control-file' %>
  </div>

  <%= f.submit 'Update profile', class: 'btn btn-primary' %>
<% end %>
