<% provide :page, 'User Profile' %>

<div class="profile jumbotron text-center">
  <%= round_avatar_tag @user, class: 'round-avatar mb-3' %>

  <h1 class="display-4">
    <%= @user.name %>
  </h1>
  <hr >
    <p>
      <% if @user.summary.present? %>
        <%= @user.summary %>
      <% else %>
        An Odinbook member.
      <% end %>
    </p>
    <div class="d-flex justify-content-center">
      <%= link_to user_friends_path(@user), class: "text-reset m-1 btn btn-secondary" do %>
        <span class="text-white">
          <%= pluralize(@user.friends.count, 'friend') %>
        </span>
      <% end %>
      <% if current_user.requestable_friends.find_by(id: @user.id) %>
        <%= button_to add_friend_path, params: { requestee_id: @user.id }, class: "text-reset m-1 btn btn-primary" do %>
          <span class="text-white">
            Add friend
          </span>
        <% end %>
      <% elsif @user != current_user %>
        <%= button_to user_remove_friend_path(current_user, @user), method: :delete, class: "text-reset m-1 btn btn-danger" do %>
          <span class="text-white">
            Remove friend
          </span>
        <% end %>
      <% end %>
    </div>
  <% if @user == current_user %>
    <div class="d-flex justify-content-center">
      <%= link_to edit_user_path(@user), class: "text-reset mx-1 btn btn-secondary" do %>
        <span class="text-white">
          <%= fa_icon "edit" %> profile
        </span>
      <% end %>
      <% if @user.avatar.attached? %>
        <%= link_to destroy_avatar_attached_to_user_path(@user), method: :delete, class: "text-reset mx-1 btn btn-danger" do %>
          <span class="text-white">
            <%= fa_icon "trash" %> avatar
          </span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
