<div class="card my-2" id="post-<%= post.id %>">
  <div class="card-body">
    <%= render "shared/post_management", post: post %>
    <p class="card-text">
      <%= post.content %>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-start align-items-center">
        <%= render "shared/like_button", post: post %>
        <%= render "shared/comment_form", post: post %>
      </div>
      <h6 class="card-subtitle text-muted d-inline">
        <%= time_ago_in_words(post.created_at) %> ago by
        <%= link_to post.user, class: 'text-decoration-none text-reset' do %>
          <%= post.user.name %>
          <%= avatar_tag post.user, size: 30, class: 'round-avatar' %>
        <% end %>
      </h6>
    </div>
  </div>
</div>
<div class="card collapse" id="post-<%= post.id %>-new-comment">
  <%= form_with(model: [post, post.comments.build], local: true, class: 'form-group comment_form m-3 p-0') do |f| %>
    <%= f.label :content, 'Comment' %>
    <%= f.text_area :content, class: 'form-control my-1' %>

    <div class="d-flex justify-content-end">
      <%= f.submit 'Post', class: 'btn btn-primary my-2' %>
    </div>
  <% end %>
</div>
<%= render post.comments.select(&:persisted?) %>
