<!DOCTYPE html>
<html>
  <head>
    <title>Odinbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/bootstrap/stylesheet" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main role="main" class="container">
      <%= render "layouts/messages" %>
      <%= yield %>
    </main>
    <%= render "layouts/bootstrap/scripts" %>
  </body>
</html>
